body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; 
}

.button {
  margin: 10px;
  padding: .6em 1.2em;
  font-size: 1em;
  border-radius: 10px;
  border-width: 0px;
  background-color:rgb(174, 213, 255);
  cursor: pointer;
}

.Board {
  margin-left: 50px;
  margin-right: 50px;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
  display: flex;
  justify-content: space-between;
}

.Event {
  width: 300px;
  padding: 10px;
  margin: 10px;
  overflow-wrap: break-word;
  align-content: center;
}

.purple {
  background:rgb(206, 162, 238);
}

.green {
  background:rgb(185, 243, 212);
} 